* {
  font-family: "Montserrat";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html body {
  padding: 0;
  margin: 0;
}

/* #dumy {
  width: 500px;
  height: 500px;
  background-color: red;
  position: sticky;
  top: 10px;
}

#dumy img {
  position: absolute;
  right: 0;
}*/

h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 30px 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

p {
  color: gray;
  margin: 0 0 30px 0;
  font-size: 24px;
}

section {
  padding: 84px 128px;
}

img,
iframe {
  width: 100%;
}

.btn {
  background-color: #ec7d32;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  border: 2px solid rgb(171, 161, 161);
}

.btn-alt {
  background-color: rgb(171, 161, 161);
  color: black;
  margin-right: 16px;
  border: 2px solid #ec7d32;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 128px;
  background-color: rgb(237, 209, 154);
  position: sticky;
  top: 0;
  z-index: 5;
}

#header h1 {
  margin: 0;
  /* animation: flash 2s infinite; */
  animation: bounceIn 3s infinite;
}

@keyframes bounceIn {
  0% {
    filter: opacity(0);
    transform: translateY(-20px);
  }

  35% {
    filter: opacity(0.25);
    transform: translateY(0);
  }

  70% {
    filter: opacity(0.5);
    transform: translateY(-10px);
  }

  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

@keyframes flash {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

#landing p {
  margin-bottom: 32px;
}

#landing div {
  width: 50%;
}

nav > a {
  margin-left: 24px;
}

nav > a:hover {
  color: #3f15ca;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

#about div {
  width: 50%;
}

#about-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 72px;
}

.about-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 72px;
}

.about-stats-item div {
  width: 50px;
  height: 10px;
  background-color: orange;
  margin-bottom: 16px;
}

.service-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-header h1 {
  position: relative;
}

.service-header h1::before {
  content: "";
  width: 60px;
  height: 60px;
  background: url("./images/accent1.svg");
  position: absolute;
  left: -20px;
  top: -10px;
  z-index: -1;
}

.service-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 72px;
}

.service-detail-item {
  box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.5);
}

.service-detail-item:hover {
  transform: scale(1.2);
}

.service-detail-item img {
  width: 100%;
  filter: grayscale(1);
}

.service-detail-item img:hover {
  filter: none;
}

.service-detail-item h2 {
  padding: 0 16px;
}

.service-detail-item p {
  font-size: 16px;
  padding: 0 16px;
}

.contact-header h1::before {
  content: "";
  width: 60px;
  height: 60px;
  background: url("./images/accent2.svg");
  position: absolute;
  left: -20px;
  top: -10px;
  z-index: -1;
}

.contact-header h1 {
  position: relative;
}

.contact-detail {
  display: flex;
  margin-top: 72px;
  gap: 128px;
}
.contact-detail div,
.contact-detail form {
  width: 100%;
}

#location {
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  border: 3px solid orange;
  padding: 64px 32px;
}

form h1 {
  font-size: 32px;
  text-align: center;
}

form button {
  border: 1px solid rgb(91, 82, 82);
  border-radius: 10px;
  box-shadow: 2px 2px rgb(91, 82, 82);
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  margin: 0 190px;
}

form button:hover {
  cursor: pointer;
  color: white;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  margin-top: 32px;
  grid-template-areas:
    "name subject"
    "email phone"
    "message message";
}

#input-name {
  grid-area: name;
}
#input-subject {
  grid-area: subject;
}
#input-email {
  grid-area: email;
}
#input-phone {
  grid-area: phone;
}
#input-message {
  grid-area: message;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.input-group input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.input-group input:focus {
  border-bottom: 2px solid orange;
}

.input-group label {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 24px;
}

footer {
  padding: 16px 128px;
  background-color: rgb(221, 167, 60);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: white;
  width: 50%;
}

footer div a {
  color: white;
}

.socials-icon {
  display: flex;
  gap: 32px;
}

@media only screen and (max-width: 1200px) {
  .service-detail {
    gap: 24px;
  }

  .contact-detail {
    gap: 24px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  form button {
    margin: 0;
  }
}

@media only screen and (max-width: 992px) {
  #header,
  #footer {
    padding: 16px 32px;
  }

  section {
    padding: 64px 32px;
  }
  #landing {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #landing div {
    width: 100%;
  }

  #about {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #about div {
    width: 100%;
  }
}

.service-detail {
  gap: 16px;
}

.contact-detail {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 64px;
}

.contact-detail form,
.contact-detaildiv {
  width: 100%;
}
